* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}


html, body {
    height: 250vh;
}
body {
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}



header {
    display: flex;
    position: fixed;
    height: 8vh;
    width: 100%;
    justify-content: center;
    background-position: bottom;
    word-spacing: 80%;
    background-image: url(https://getwallpapers.com/wallpaper/full/b/e/2/1420563-free-hacker-background-1920x1080-laptop.jpg);
    z-index: 1000000;
    transition: 1s all ease-in-out;
}

header #logo {
    position: absolute;
    color:white;
    font-size: 25px;
    font-weight: 600;
    right: 80%;
    height: 5vh;
    width: 20vh;
    top: 1.5vh;
}

#logo:before{
    content:"hacki'";
    position:absolute;
    color: green;
    top:0;
    left:0;
    width:0%;
    overflow:hidden;
    transition:all 1s;
  }
  #logo:hover:before{
    width:100%;
  }

  .end a:before{
    content:"hacki'";
    position:absolute;
    color: green;
    top:0;
    left:0;
    width:0%;
    overflow:hidden;
    transition:all 1s;
  }
  .end a:hover:before{
    width:100%;
  }

header #demo {
    position: absolute;
    color:brown;
    top: 1.3vh;
    text-align: center;
    padding: 1vh 0%;
    left: 85%;
    width: 20vh;
    height: 5vh;
    font-size: 18px;
    word-spacing: -50%;
    font-weight: 700;
    background-color: rgb(133, 245, 223);
    border-radius: 5vh;
    color: black
}

#demo:hover {
    color: red;
    background-color: white;
}

#hehe {
    position: absolute;
    color: green;
    top: 3.3vh;
    left: 17.5vh;
}

.navbar {
    word-spacing: 200%;
}
.navbar a{
    position: relative;
    top: 2.5vh;
    text-decoration: none;
    color:white;
    font-weight: 700;
    font-size: 20px;
}

.navbar a:hover{
    color: red;
}

.navbar a:active{
    color: rgb(202, 102, 102)
}
.cyber {
    position: relative;
    top: 8vh;
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://getwallpapers.com/wallpaper/full/b/e/2/1420563-free-hacker-background-1920x1080-laptop.jpg);
}
 

.navbar {
    height: auto;
    width: auto;
}

#ctext {
    position: relative;
    font-size: 50px;
    color: whitesmoke;
    top: 40%;
    left: 50%;
}   
.cyber h1{
    overflow: hidden;
    animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0% }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.vul {
    position: relative;
    display: flex;
    top: 8vh;
    height: 65vh;
    background-image: url(https://media.istockphoto.com/id/1181403907/vector/cyber-security-and-information-or-network-protection-future-technology-web-services-for.jpg?s=612x612&w=0&k=20&c=b6T8_cNms8RD-AAxFpkfvlBiQE8V6aay7X8_gMpfUXw=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 5s all ease;
}

#vtext {
    height: 20vh;
    width: 150vh;
    position: relative;
    color: black;
    top: 10vh;
    left: 100vh;
    font-size: 30px;
    font-family: 400px;
    animation: slideIn 5s ease-in-out forwards;
}
@keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
#vtext2 {
    height: 10vh;
    width: 130vh;
    position: relative;
    color: black;
    right: 8.5vh;
    top: 30vh;
    font-size: 20px;
    text-align: justify;
    line-height: 24px;
    animation: slideUp 5s ease-in-out forwards;
}

@keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
#learn {
    position: relative;
    top: 50vh;
    right: 50vh;
    text-decoration: none;
    width: 25vh;
    height: 10vh;
    background-color:  rgb(133, 245, 223);
    text-decoration: none;
    padding-top: 3.5vh;
    padding-left: 2vh;
    color: black;
    font-weight: 500;
    border-radius: 5vh;
    font-size: 20px;
    animation: slideUp 5s ease-in-out forwards;
}
@keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }

.opinion {
    position: relative;
    width: 100%;
    display: flex;
    top: 8vh;
    height: 40vh;
    background-image: url(https://getwallpapers.com/wallpaper/full/a/6/7/1008552-amazing-deep-blue-background-1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.op1{
    position: absolute;
    top: 20vh;
    left: 45vh;
    color: rgb(218, 178, 19);
 }
 
 .des1{
    position: absolute;
    top: 5vh;  
    left: 30vh;
 }
 
 .des1 p{
    width: 65vh;
    height: 12vh;
    color:white
 }

 .d1 {
    position: absolute;
    top: 27.5vh;
    left: 10vh;
    
 }

 #d1 {
    position: absolute;
    top: -2vh;
    color: greenyellow
 }
 .des2 {
     position: absolute;
     left: 130vh;
     top: 3vh;
 }

 .des2 p{
    width: 65vh;
    height:12vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    word-spacing: 30%;
}

.d2 {
 position: absolute;
 top: 30vh;
}

#d2 {
 position: absolute;
 left: -10vh;
 color: greenyellow
}

.op2 {
    position: absolute;
    top: 20vh;
    left: 137vh;
    color: rgb(218, 178, 19);
}

.work {
    position: relative;
    height: 105vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding-left: 7.5vh;
    padding-right: 7.5vh;
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
    justify-content: space-between;

}

.mainbox {
   box-sizing: border-box;
   display: block;
   float: none;
   width: 100%;
   line-height: normal;
   position: relative;
   z-index: auto;

}

.boxes {
    box-sizing: border-box;
    background-color: #161842;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    width: 20%;
    text-align: center;
    font-size: 22px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.row1 {
    position: absolute;
    top: 8vh;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .row2 {
    position: absolute;
    top: 12vh;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }


.titler {
    color: #030637;
    height: fit-content;
    width: auto;
    font-size: 32px;
    font-weight: 500;
    padding: 5vh 8%;
  }

  
  .textr {
    padding: 8vh 8%;
    height: fit-content;
    width: 100%;
  }

  .textr p {
    font-size: 24px;
    font-weight: bold;
  }

  #r1 {
    font-size: 20px;
    position: relative;
    top: 30vh;
    height: fit-content;
    width: auto;
  }

  #r2 {
    font-size: 32px;
    position: relative;
    top:  40vh;
    height: fit-content;
    width: auto;
  }

  .newsletter {
    position: relative;
    width: 100%;
    height: 24vh;
  }

  .news {
    position: absolute;
    height: 24vh;
    width: 100%;
    padding: 7vh 10%;
    font-size: 36px;
    color: #000;
    font-weight: 800;
    font-family: consolas;
    font-weight: bold;
    background-image: url(https://assetsnffrgf-a.akamaihd.net/assets/m/102019008/univ/art/102019008_univ_lsr_xl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: overline;
}

  #sub {
    position: absolute;
    padding: 3vh 4%;
    height: fit-content;
    width: fit-content;
    margin-left: 75vw;
    top: 8vh;
    text-decoration: none;
    color: rgb(133, 245, 223);
    border-radius: 5vh;
    background-color: black;
    font-size: 24px;
}


.amain {
position: relative;
height: 30vh;
padding-left: 7.5vw;
padding-right: 7.5vw;
padding-top: 5vh;
padding-bottom: 5vh;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
background-image: url(https://getwallpapers.com/wallpaper/full/a/6/7/1008552-amazing-deep-blue-background-1920x1080.jpg);
}



 .show{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    color: whitesmoke;
   
  }
 
 .column1 {
    position: absolute;
    display: flex;
    flex-direction: column;
 }
 .column1 a{
    padding-bottom: 1vh;
    font-weight: bold;
    font-size: 20px;
 }

 .column2 a{
    padding-bottom: 1vh;
    font-weight: bold;
    font-size: 20px;
 }

 .column3 a{
    padding-bottom: 1vh;
    font-weight: bold;
    font-size: 20px;
 }
 .column2{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0vh 30%;
    
 }
 .column3{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 73vw;
    width: 100%;
 }



 .boxinfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .info {
    position: absolute;
    display: flex;
    flex-direction: row;
 }

.fa-linkedin {
    position: absolute;
    padding: 8vh 0%;
    left: 71.5vw;
    color: rgb(133, 245, 223);
    cursor: pointer;
}


.fa-youtube {
    position: absolute;
    padding: 8vh 0%;
    left: 75.5vw;
    color: rgb(133, 245, 223);
    cursor: pointer;
}

.fa-x-twitter {
    position: absolute;
    padding: 8vh 0%;
    left: 79.5vw;
    color: rgb(133, 245, 223);
    cursor: pointer;
}

.end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #030637;
    height: 17.5vh;
    width: 100%;
    align-items: center;
}

.end p{
    position: absolute;
    right: 90vh;
    color: white;
}

.end a {
    position: absolute;
    left: 25vh;
    color:white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

.end i {
    position: absolute;
    color: green;
    left: 20.5vh;
}